/* Top */
.top {
	height: 100px;
	overflow: hidden;
	padding-top: 25px;
	position: fixed;
	top: 20px;
	width: 100%;
	z-index: 9;
	.container-fluid {
		max-width: 1110px;
		width: 100%;
		#btn-toggle {
			background-color: $no-white;
			cursor: pointer;
			height: 40px;
			position: absolute;
			right: 0;
			top: 5px;
			width: 40px;
			z-index: 9;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			-webkit-box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
			-moz-box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
			box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
			@media all and ( max-width: 1140px ) {
				right: 15px;
			}
			span {
				background: #333;
				border-radius: 2px;
				display: block;
				height: 2px;
				left: 25%;
				opacity: 1;
				position: absolute;
				width: 50%;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .2s ease-in-out;
				-moz-transition: .2s ease-in-out;
				-o-transition: .2s ease-in-out;
				transition: .2s ease-in-out;
				&:nth-child(1) {
					top: 13px;
				}
				&:nth-child(2),
				&:nth-child(3) {
					top: 20px;
				}
				&:nth-child(4) {
					top: 27px;
				}
			}
			&.open {
				span {
					&:nth-child(1) {
						top: 13px;
						width: 0%;
						left: 50%;
					}
					&:nth-child(2) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}
					&:nth-child(3) {
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
					&:nth-child(4) {
						top: 27px;
						width: 0%;
						left: 50%;
					}
				}
			}
		}
	}
	#menu-toggle {
		background-color: #333;
		max-width: 800px;
		overflow: hidden;
		width: 85%;
		-webkit-box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
		-moz-box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
		box-shadow: 2px 0px 40px 0px rgba(0,0,0,0.35);
		.custom-logo {
			margin: 15px;
			max-height: 90px;
			width: auto;
		}
		nav {
			ul {
				padding-left: 0;
				li {
					&.active {
						background-color: #000;
					}
					a {
						color: $no-white;
						display: block;
						padding: 15px;
						&:active,
						&:hover,
						&:focus {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

/* Header */
header#header {
	background-color: $background-top;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out;
	.page-header {
		border-bottom: 0;
		margin: 0;
		padding-bottom: 0;
		.custom-logo {
			margin-bottom: 15px;
			margin-top: 15px;
			position: relative;
			z-index: 14;
		}
		.about {
			background-color: #4CABB1;
			color: $no-white;
			min-height: 380px;
			padding: 15px;
			position: relative;
			text-align: center;
			.in {
				position: absolute;
				  top: 50%;
				  left: 50%;
				  transform: translate(-50%, -50%);
				  width: 70%;
				h2 {
					margin-top: 0;
				}
				.button {
				    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
				    background-color: lighten( #5ab7bd, 5% );
				    color: $no-white;
				    &:hover {
				    	background-color: darken( #5ab7bd, 5% );
				    }
				}
			}
		}
		.online-service {
			background-color: #69C7AD;
			color: $no-white;
			min-height: 380px;
			padding: 15px;
			position: relative;
			text-align: center;
			.in {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 70%;
				h2 {
					margin-top: 0;
				}
				.button {
				    box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
				    background-color: lighten( #69C7AD, 5% );
				    color: $no-white;
				    &:hover {
				    	background-color: darken( #69C7AD, 10% );
				    }
				}
			}
		}
		.principal-slider {
			height: 760px;
			overflow: hidden;
			@media all and ( max-width: 768px ) {
				height: 520px;
			}
			@media all and ( max-width: 520px ) {
				display: none;
			}
			.each {
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto 100%;
				height: 760px;
				overflow: hidden;
				img {
					max-width: 100%;
				}
			}			
		}
	}
}

/* Logged with Admin Bar */
/* Header */
body.admin-bar{
	#menu-toggle {
		padding-top: 32px;
		@media ( max-width: 782px ) {
			padding-top: 46px;
		}
	}
	.top {
		top: 50px;
	}
}

/* Opacity with the menu is opened */
body.open-menu {
	#header,
	#wrapper {
		opacity: 0.3;
	}
}